.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App .header .logo {
  width: 300px;
}
.App .header img {
  width: 40px;
}
.App .header h1 {
  flex: auto;
}
.App .header .wallet {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .App .header .wallet {
    width: 190px;
  }
  .App .header .logo {
    width: 190px;
  }
}

@media (max-width: 500px) {
  .App .header .wallet {
    width: 100px;
  }
  .App .header .logo {
    width: 100px;
  }
}
